.navbar {
    background-color: #a5bcd6;
    padding: 12px;
    border-radius: 10px;
    border-bottom: 2px solid #231815;
    text-align: center;
}
.navbar a {
    color: #231815;
    display: inline-block;
    text-decoration: none;
    border-radius: 6px;
    padding: 8px 16px;
}
.navbar a:hover {
    background-color: #4d0e12;
    color: #f5efc6;
}
body{
    background-color: #f5efc6;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #231815;
    padding: 20px;

}
#grades-title {
    text-align: center;
    font-size: 32px;
    color: #231815;
}
table {
    width: 100%;
    border-collapse: collapse;
    max-width: 800px;
}
td, th {
    border: 1px solid #4a2e27;
    padding: 12px;
    text-align: center;
}
thead{
    background-color: #4a2e27;
    color: #f5efc6;
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tbody tr.highlight-row {
    background-color: #965458;
}
.feedback-form {
    box-sizing: border-box;
    max-width: 100%;
    width: 400px;
    margin: 30px auto;
    padding: 24px;
    background-color: #a5bcd6;
    border-radius: 12px;
}
.feedback-form label {
    font-weight: bold;
}
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea,
.feedback-form select {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #2d3a47;
    border-radius: 6px;
    font: inherit;
}

.feedback-form fieldset {
    margin-bottom: 16px;
}
#feedback-title {
    text-align: center;
}
.footer {
    text-align: center;
    padding: 12px;
    background-color: #4d0e12;
    color: #ffe3aa;
    border-radius: 10px;
    margin-top: 24px;
}
#grades-table {
    margin: 0 auto;
    text-align: center;
}
.btn {
    background-color: #4a2e27;
    color: #fff7e6;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font: inherit;
    cursor: pointer;
}
.btn:hover {
    background-color: #fff7e6;
    color: #4a2e27;
}
